.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.headerMessage {
    color: var(--ifm-color-primary);
    display: block;
}

.errorMessage {
    background-color: rgb(245, 173, 165);
    border: 1px solid red;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 10px;
}

.errorMessage:empty {
    display: none;
}

.inputBox {
    color: var(--ifm-color-primary);
}
  
.loginButton:hover {
    background-color: var(--ifm-color-primary);
    color: white;
}