.page {
  padding: 0rem 5rem;
}

.header_custom {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

.colored {
  color: var(--ifm-color-primary);
}

.email {
  display: flex;
  font-size: 17px;
  font-weight: 600;
  gap: 5px;
}

.setting {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logout {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #dedede;
}

.logout:hover {
  background-color: var(--ifm-color-primary);
  color: white;
}

.sections > .section:nth-last-child(2) {
  border-bottom: 1px solid #dedede;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  padding: 4rem 0rem;
}

.card {
  flex: 1;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 5px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 15px;
}

.card:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0px 0px 5px 0px var(--ifm-color-primary);
}

.title {
  font-weight: bolder;
  font-size: large;
}

.progress {
  padding: 2px 0px;
  width: 100%;
  display: flex;
}
