.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0rem;
}

.colored {
  color: var(--ifm-color-primary);
}

.email {
  display: flex;
  font-size: 17px;
  font-weight: 600;
  gap: 5px;
}

.setting {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout {
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #dedede;
}

.logout:hover {
  background-color: var(--ifm-color-primary);
  color: white;
}

.logoutButton:hover {
  background-color: var(--ifm-color-primary);
  color: white;
}

.section {
  text-align: center;
  margin: 30px auto;
}

.card {
  flex: 1;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 10px;
  margin: 20px;
}

.card:hover {
  background-color: var(--ifm-color-primary);
  color: white;
}

.title {
  font-weight: bold;
  font-size: large;
}
