.header {
  text-align: center;
  margin: 30px auto;
}

.username {
  color: var(--ifm-color-primary);
}

.logoutButton {
  font-size: medium;
  padding: 10px;
  border: none;
  border-radius: 7px;
  width: 100%;
  margin-top: 20px;
  color: white;
  border: 1px solid var(--ifm-color-primary);
}

.logoutButton:hover {
  background-color: var(--ifm-color-primary);
  color: white;
}

.section {
  text-align: center;
  margin: 30px auto;
}

.card {
  flex: 1;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 10px;
  margin: 20px;
}

.card:hover {
  background-color: var(--ifm-color-primary);
  color: white
}

.title {
  font-weight: bold;
  font-size: large;
}